@import "../../sass/globals.sass"

.main
  background-color: $main-contrast
  display: flex
  flex-flow: row wrap
  align-items: center
  color: $color-primary
  justify-content: space-evenly
  width: 100%
  max-width: 1600px
  margin: 0px auto
  padding: 2%
  box-sizing: border-box
  & > h5
    background-image: linear-gradient(270deg, #4f56ff, #ff4980)
    background-clip: text
    -webkit-text-fill-color: transparent
    margin:  0 0 30px
    font-size: .8rem
    width: 100%